<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcare.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QCare">

        <!-- ACTIVITY SAJA -->
        <activity android:name="com.qcare.app.KelolaAntrianActivity" />
        <activity android:name="com.qcare.app.TambahDokterActivity" />
        <activity android:name="com.qcare.app.KunjunganActivity" />
        <activity android:name="com.qcare.app.RiwayatActivity" />
        <activity android:name="com.qcare.app.ProfileActivity" />
        <activity android:name="com.qcare.app.PrivacyActivity" />
        <activity android:name="com.qcare.app.HomeActivity" />
        <activity android:name="com.qcare.app.DashboardDokterActivity" />
        <activity android:name="com.qcare.app.FindDoctorActivity" />
        <activity android:name="com.qcare.app.RegisterActivity" />
        <activity android:name="com.qcare.app.LoginActivity" />
        <activity android:name="com.qcare.app.WelcomeActivity" />


        <!-- LAUNCHER -->
        <activity
            android:name="com.qcare.app.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
